$app-primary = #227D51
$app-secondary = #D81B60
$app-accent = #86C166
$app-success = #61B865
$app-light-grey = #E1E2E1
$app-error = #FF6666
$app-card = rgba(33, 33, 33, 0.8)
$app-login-image = url(../../assets/images/bg.jpg)